.footer {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-project {
  max-width: 115rem;
  border-radius: 2rem;
  background-color: #062727;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  margin-top: -8rem;

  &__header {
    font-size: 4rem;
    font-weight: 700;
    padding: 1rem;
  }

  &__description {
    font-weight: 300;
    font-size: 2rem;
    padding: 1rem;
  }
}
