.head-section {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6rem;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  &__title {
    padding: 2rem;
    font-size: 5rem;
    font-weight: 700;
    font-family: "Tienne", serif;
  }

  &__description {
    padding: 2rem;
    font-weight: 300;
    font-size: 3rem;
  }
}

.my-image {
  margin-top: 6rem;
  width: 26rem;
  border-radius: 50%;

  @media only screen and (max-width: $size-largest-medium) {
    width: 20rem;
  }
}

.hat {
  padding: 1rem;
  max-width: 86rem;
  position: relative;
  left: 10rem;
  top: -9rem;

  @media only screen and (max-width: $size-largest-medium) {
    max-width: 74rem;
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: $size-largest-small) {
    left: 6rem;
  }

  @media only screen and (max-width: $size-medium-small) {
    max-width: 50rem;
    left: 0;
    margin-bottom: 5rem;
  }

  @media only screen and (max-width: $size-small) {
    max-width: 40rem;
    margin-top: 2rem;
  }

  @media only screen and (max-width: $size-small-medium) {
    // max-width: 30rem;
    // left: -1rem;
    // margin-bottom: 4rem;
  }
}
